<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>206753417959-vrg1e6s27and5reth79t3kuhg7702i7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206753417959-vrg1e6s27and5reth79t3kuhg7702i7h</string>
	<key>API_KEY</key>
	<string>AIzaSyDXBoAVcS-ZX-vZpBeyYhIG8KD4wdSC-qY</string>
	<key>GCM_SENDER_ID</key>
	<string>206753417959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neighborhood.plantapp</string>
	<key>PROJECT_ID</key>
	<string>plantapp-27b16</string>
	<key>STORAGE_BUCKET</key>
	<string>plantapp-27b16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206753417959:ios:f1ebe3a9e7641e3c</string>
	<key>DATABASE_URL</key>
	<string>https://plantapp-27b16.firebaseio.com</string>
</dict>
</plist>